= render partial: 'partials/header'
/ slider
#slider
  .callbacks_container
    %ul.rslides.pic_slider
      %li
        .text-wrap
          .inner
            .mid
              %h3 The Best Value
              %h1 Under The Sun
              .desc
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
        %img{:alt => "", :src => "img/slider-home/pic%20%281%29.jpg"}/
      %li
        .text-wrap
          .inner
            .mid
              %h3 Stati cu Noi
              %h1 Simtiti-va ca acasa
              .desc
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
        %img{:alt => "", :src => "img/slider-home/pic%20%282%29.jpg"}/
/ slider close
.clearfix
/ content begin
#content.no-top.no-bottom
  .fx.custom-carousel-1
    .room-item.item
      .overlay
        %a{:href => "single-room.html"}
          %h1 Camera Single
        .desc
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
          .price
            197 RON
            %span /noapte
          %a.btn-border{:href => "single-room.html"} Vezi Detalii
      %img{:alt => "", :src => "img/room/pic%20%281%29.jpg"}/
    .room-item.item
      .overlay
        %a{:href => "single-room.html"}
          %h1 Camera Double
        .desc
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
          .price
            189 RON
            %span /noapte
          %a.btn-border{:href => "single-room.html"} Vezi Detalii
      %img{:alt => "", :src => "img/room/pic%20%282%29.jpg"}/
    .room-item.item
      .overlay
        %a{:href => "single-room.html"}
          %h1 Camera Double Premium
        .desc
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
          .price
            218 RON
            %span /noapte
          %a.btn-border{:href => "single-room.html"} Vezi Detalii
      %img{:alt => "", :src => "img/room/pic%20%283%29.jpg"}/
    .room-item.item
      .overlay
        %a{:href => "single-room.html"}
          %h1 Camera Triple
        .desc
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
          .price
            238 RON
            %span /noapte
          %a.btn-border{:href => "single-room.html"} Vezi Detalii
      %img{:alt => "", :src => "img/room/pic%20%284%29.jpg"}/
    .room-item.item
      .overlay
        %a{:href => "single-room.html"}
          %h1 Camera Triple Premium
        .desc
          Lorem ipsum dolor sit amet, consectetur
          adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
          exercitation ullamco laboris nisi ut aliquip.
          .price
            257 RON
            %span /noapte
          %a.btn-border{:href => "single-room.html"} Vezi Detalii
      %img{:alt => "", :src => "img/room/pic%20%285%29.jpg"}/
  %section
    .container
      .row
        .col-md-6
          .icon-box
            %i.fa.fa-bell-o
            .text
              %h3 Room Services
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque
              ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo.
        .col-md-6
          .icon-box
            %i.fa.fa-coffee
            .text
              %h3 Cafea
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque
              ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo.
        .col-md-6
          .icon-box
            %i.fa.fa-car
            .text
              %h3 Parcare Gratis
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque
              ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo.
        .col-md-6
          .icon-box
            %i.fa.fa-dropbox
            .text
              %h3 Seif
              Sed ut perspiciatis unde omnis iste natus error sit voluptatem
              accusantium doloremque laudantium, totam rem aperiam, eaque
              ipsa quae ab illo inventore veritatis et quasi architecto
              beatae vitae dicta sunt explicabo.
  %section#section-about-1.dark.side-bg
    .col-md-6.col-md-offset-6.pull-right.image-container
      .background-image
    .container
      .row
        .col-md-5
          .inner-padding
            %ul.client-quotes.animated{"data-animation" => "fadeIn"}
              %li
                .text
                  Sed ut perspiciatis unde omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                %span.name Tina Tunnel
                %span.company Microsoft
              %li
                .text
                  Sed ut perspiciatis unde omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                %span.name Sandra Bullock
                %span.company Apple
              %li
                .text
                  Sed ut perspiciatis unde omnis iste natus
                  error sit voluptatem accusantium doloremque laudantium,
                  totam rem aperiam, eaque ipsa quae ab illo inventore
                  veritatis et quasi architecto beatae vitae dicta sunt
                  explicabo.
                %span.name Angelina
                %span.company Samsung
          .clearfix
    .clearfix
  %section.call-to-action.text-center
    %a.btn-big-border{:href => "#"}
      Faceti
      o rezervare acum!
  / content close
  / footer begin
  %footer
    .container
      .row
        .col-md-4
          %h3 About Us
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
          enim ad minim veniam, quis nostrud exercitation ullamco laboris
          nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
          reprehenderit in voluptate velit esse cillum dolore eu fugiat
          nulla pariatur.
        .col-md-4
          %h3 Latest News
          %ul.bloglist-small
            %li
              .date-box
                %span.day 28
                %span.month SEP
              .txt
                %h5
                  %a{:href => "css/#"} Lorem ipsum sit amet
                %div
                  %div
                    Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit, sed do eiusmod tempor
            %li
              .date-box
                %span.day 26
                %span.month SEP
              .txt
                %h5
                  %a{:href => "css/#"} Lorem ipsum sit amet
                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor
          .clearfix
        .col-md-4
          %h3 Adresa
          %address
            %span J'adore Hotel
            %span
              Strada Caransebeșului
              nr.12
            %span Lugoj, Timis 305500
            %span
              Tel:
              (40) 356 008 888
            %span
              Email:
              %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
          .social-icons
            %a{:href => "#"}>
              %img{:alt => "", :src => "img/social-icons/facebook.png"}/
             
            %a{:href => "#"}>
             
            %a{:href => "#"}>
             
            %a{:href => "#"}>
             
            %a{:href => "#"}>
             
            %a{:href => "#"}
    .subfooter
      .container
        .row
          .col-md-6
            © Copyright 2017 -
            %a{:href => "http://punctmarketing.com/"}
              %span{:style => "color: #888888;"}>
              Punct Marketing
          .col-md-6
            %nav
              %ul
                %li
                  %a{:href => "#"} Home
                %li
                  %a{:href => "#"} Despre Noi
                %li
                  %a{:href => "#"} Booking
                %li
                  %a{:href => "#"} Articole
                %li
                  %a{:href => "#"} Contact
