.container-fluid
  .row
    .pool-bottom-background
      .container-fluid
        .row.pool-first-row
          .col-md-6
            .row
              %h2.pool-gallery-text.blue-text-background.blue-text-background2 PISCINA NOSTRA
        .row.pool-forth-row
          .container
            .transparent-background.col-md-10.col-md-offset-1
              %p J’adore Boutique Hotel dispune, de o frumoasa piscina exterioara, ce te invita sa te relaxezi in zilele frumoase de vara. Te invitam cu drag sa incerci piscina hotelului J’adore, iar relaxarea este garantata.
