.container-fluid
  .row
    .pool-top-background
      .container
        .row.pool-first-row
          .col-md-4
            %h1.pool-heading PISCINA
            %h3.white-background.pool-sub-heading FII PREGATIT PENTRU VARA
        .row.pool-second-row
          .col-md-5
            %p.white-background.pool-top-text.pool-text.dark-blue-bg
              VENITI
          .col-md-8
            %p.white-background.pool-bottom-text.pool-text.light-blue-bg
              SA DESCOPERITI PISCINA NOASTRA
      .pool-third-row
        .col-md-6
          .row
            %h2.pool-gallery-text.blue-text-background GALERIE
