!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Corsiva - Responsive Hotel Website Template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / LOAD CSS FILES
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / header begin
    %header
      / logo begin
      #logo
        .inner
          %a{:href => "index.html"}
            %img{:alt => "", :src => "img/logo.png"}/
      / logo close
      / mainmenu begin
      #mainmenu-container
        %ul#mainmenu
          %li
            %a{:href => "index.html"} Home
            %ul
              %li
                %a{:href => "index.html"} Homepage 1
              %li
                %a{:href => "index-2.html"} Homepage 2
          %li
            %a{:href => "explore.html"} Descopera
          %li
            %a{:href => "room-list.html"} Camere
            %ul
              %li
                %a{:href => "room-1-column.html"} 1 Column
              %li
                %a{:href => "room-1-column-sidebar.html"} 1 Column + Sidebar
              %li
                %a{:href => "room-2-columns.html"} 2 Column
              %li
                %a{:href => "room-2-columns-sidebar.html"} 2 Columns + Sidebar
              %li
                %a{:href => "room-3-columns.html"} 3 Columns
              %li
                %a{:href => "single-room.html"} Single Room
          %li
            %a{:href => "booking.html"} Booking
          %li
            %a{:href => "news.html"} Articole
            %ul
              %li
                %a{:href => "news.html"} News List
              %li
                %a{:href => "single-news.html"} Single News
          %li
            %a{:href => "gallery.html"} Galerie
          %li
            %a{:href => "contact.html"} Contact
      / mainmenu close
    / header close
    / subheader begin
    #subheader
      %h1 Booking
      %h3 rezerva acum!
    / subheader close
    / content begin
    #content
      .container
        .row
          .col-md-8
            .contact_form_holder
              %form#booking_form{:action => "reservation.php", :method => "post", :name => "contactForm"}
                .col-md-4
                  %input#name.form-control{:name => "name", :placeholder => "Nume si Prenume", :type => "text"}/
                .col-md-4
                  %input#email.form-control{:name => "email", :placeholder => "Email *", :type => "text"}/
                  #error_email.error
                    Va rugam, verificati
                    emailul!
                .col-md-4
                  %select#guest.form-control{:name => "guest"}
                    %option Numar de Persoane
                    %option 1
                    %option 2
                    %option 3
                    %option 4
                    %option 5
                    %option &gt;5
                .col-md-4
                  %input#checkin.form-control{:name => "checkin", :placeholder => "Data Check In", :type => "text"}/
                  #error_datepicker.error
                    Va rugam, verificati
                    din nou!
                .col-md-4
                  %input#checkout.form-control{:name => "checkout", :placeholder => "Data Check Out", :type => "text"}/
                  #error_person_num.error
                    Va rugam, verificati
                    din nou!
                .col-md-4
                  %select#room.form-control{:name => "room"}
                    %option Selectati tipul de camera
                    %option Camera Single
                    %option Camera Double
                    %option Camera Triple
                    %option Apartament
                .col-md-12
                  %textarea#message.form-control{:cols => "10", :name => "message", :placeholder => "Mesaj", :rows => "8"}
                  #error_message.error
                    Va rugam verificati
                    mesajul!
                  #mail_success.success
                    Va multumim! Mesajul a
                    fost trimis!
                  #mail_failed.error
                    Eroare, mesajul nu a fost
                    trimis!
                  #mail_success.success
                    Va multumim! Mesajul a
                    fost trimis!
                  #mail_failed.error
                    Eroare, mesajul nu a fost
                    trimis!
                  %p#btnsubmit
                    %input#send.btn.btn-custom{:type => "submit", :value => "Trimite"}/
          #sidebar.col-md-4
            / widget
            .widget.widget-text
              %h3 Adresa
              .map-small
                %iframe{:frameborder => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://www.google.com/maps/embed?pb=%211m23%211m12%211m3%211d89216.05692635482%212d21.850639242577422%213d45.67086460128687%212m3%211f0%212f0%213f0%213m2%211i1024%212i768%214f13.1%214m8%213e6%214m0%214m5%211s0x474fbecf1f73094d%3A0x92f01a1b6eb3e3dd%212sjadore+hotel+lugoj%213m2%211d45.670885999999996%212d21.920679%215e0%213m2%211sen%212sus%214v1488739388283;t=m&z=14&output=embed&iwloc=false"}
              %address
                %h4 J'adore Hotel
                %span Strada Caransebeșului nr.12
                %span
                  Lugoj, Timis
                  305500
                %span Tel: (40) 356 008 888
                %span
                  Email:
                  %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
            / widget close
    / content close
    / footer begin
    %footer
      .container
        .row
          .col-md-4
            %h3 About Us
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          .col-md-4
            %h3 Latest News
            %ul.bloglist-small
              %li
                .date-box
                  %span.day 28
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  %div
                    %div
                      Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit, sed do eiusmod tempor
              %li
                .date-box
                  %span.day 26
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  Lorem dipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor
            .clearfix
          .col-md-4
            %h3 Adresa
            %address
              %span J'adore Hotel
              %span
                Strada Caransebeșului
                nr.12
              %span Lugoj, Timis 305500
              %span
                Tel: (40)
                356 008 888
              %span
                Email:
                %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
            .social-icons
              %a{:href => "https://www.facebook.com/jadoreboutiquehotel/?fref=ts"}>
                %img{:alt => "", :src => "img/social-icons/facebook.png"}/
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}
      .subfooter
        .container
          .row
            .col-md-6
              © Copyright 2017 -
              %a{:href => "http://punctmarketing.com/"}
                %span{:style => "color: #888888;"}>
                Punct Marketing
            .col-md-6
              %nav
                %ul
                  %li
                    %a{:href => "#"} Home
                  %li
                    %a{:href => "#"} Despre Noi
                  %li
                    %a{:href => "#"} Booking
                  %li
                    %a{:href => "#"} Articole
                  %li
                    %a{:href => "#"} Contact
    / footer close
    / LOAD JS FILES
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.isotope.min.js"}
    %script{:src => "js/jquery.prettyPhoto.js"}
    %script{:src => "js/easing.js"}
    %script{:src => "js/jquery.lazyload.js"}
    %script{:src => "js/jquery.ui.totop.js"}
    %script{:src => "js/selectnav.js"}
    %script{:src => "js/ender.js"}
    %script{:src => "js/responsiveslides.min.js"}
    %script{:src => "js/jquery.flexslider-min.js"}
    %script{:src => "js/bootstrap-datepicker.js"}
    %script{:src => "js/owl.carousel.min.js"}
    %script{:src => "js/custom.js"}
    %script{:src => "js/reservation.js"}
    :javascript
      jQuery(document).ready(function () {
          jQuery('#checkin').datepicker();
          jQuery('#checkout').datepicker();
      });
