!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Corsiva - Responsive Hotel Website Template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / LOAD CSS FILES
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / header begin
    %header
      / logo begin
      #logo
        .inner
          %a{:href => "index.html"}
            %img{:alt => "", :src => "img/logo.png"}/
      / logo close
      / mainmenu begin
      #mainmenu-container
        %ul#mainmenu
          %li
            %a{:href => "index.html"} Home
            %ul
              %li
                %a{:href => "index.html"} Homepage 1
              %li
                %a{:href => "index-2.html"} Homepage 2
          %li
            %a{:href => "explore.html"} Descopera
          %li
            %a{:href => "room-list.html"} Camere
            %ul
              %li
                %a{:href => "room-1-column.html"} 1 Column
              %li
                %a{:href => "room-1-column-sidebar.html"} 1 Column + Sidebar
              %li
                %a{:href => "room-2-columns.html"} 2 Column
              %li
                %a{:href => "room-2-columns-sidebar.html"} 2 Columns + Sidebar
              %li
                %a{:href => "room-3-columns.html"} 3 Columns
              %li
                %a{:href => "single-room.html"} Single Room
          %li
            %a{:href => "booking.html"} Booking
          %li
            %a{:href => "news.html"} Articole
            %ul
              %li
                %a{:href => "news.html"} News List
              %li
                %a{:href => "single-news.html"} Single News
          %li
            %a{:href => "gallery.html"} Galerie
          %li
            %a{:href => "contact.html"} Contact
      / mainmenu close
      #menu-btn
    / header close
    / subheader begin
    #subheader
      %h3 Camera
      %h1 Single
    / subheader close
    / content begin
    #content
      .container
        .row
          .room-single
            .col-md-8
              %ul.slides.single-room-carousel
                %li
                  %img.img-responsive{:alt => "", :src => "img/single-room/pic%20%281%29.jpg"}/
                %li
                  %img.img-responsive{:alt => "", :src => "img/single-room/pic%20%282%29.jpg"}/
                %li
                  %img.img-responsive{:alt => "", :src => "img/single-room/pic%20%283%29.jpg"}/
            .col-md-4
              .inner
                .text
                  %h4 Prezentare
                  %p
                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit
                    amet, consectetur, adipisci velit, sed quia non numquam eius
                    modi tempora incidunt ut labore et dolore magnam aliquam
                    quaerat voluptatem.
                  .room-specs
                    %h4 Facilitati
                    %ul
                      %li Double Size Bed
                      %li Hotspot Area
                      %li Beach View
                      %li Room Services
                      %li Free Dinner
                      %li Free Parking
                .price
                  179 RON
                  %span /noapte
                %a.btn-border{:href => "#"} Rezerva Acum
        %hr/
        .row
          / room begin
          .col-md-6
            .room-item.item
              .overlay
                %a{:href => "#"}
                  %h1 Deluxe Room
                .desc
                  Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip.
                  .price
                    $199
                    %span /night
                  %a.btn-border{:href => "single-room.html"} View Details
              %img{:alt => "", :src => "img/room/pic%20%281%29.jpg"}/
          / room close
          / room begin
          .col-md-6
            .room-item.item
              .overlay
                %a{:href => "#"}
                  %h1 Luxury Room
                .desc
                  Lorem ipsum dolor sit amet, consectetur
                  adipisicing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                  exercitation ullamco laboris nisi ut aliquip.
                  .price
                    $299
                    %span /night
                  %a.btn-border{:href => "single-room.html"} View Details
              %img{:alt => "", :src => "img/room/pic%20%282%29.jpg"}/
          / room close
    / content close
    / footer begin
    %footer
      .container
        .row
          .col-md-4
            %h3 About Us
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure dolor in
            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur.
          .col-md-4
            %h3 Latest News
            %ul.bloglist-small
              %li
                .date-box
                  %span.day 28
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  %div
                    %div
                      Lorem ipsum dolor sit amet, consectetur adipisicing
                      elit, sed do eiusmod tempor
              %li
                .date-box
                  %span.day 26
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor
            .clearfix
          .col-md-4
            %h3 Adresa
            %address
              %span J'adore Hotel
              %span
                Strada Caransebeșului
                nr.12
              %span Lugoj, Timis 305500
              %span
                Tel: (40)
                356 008 888
              %span
                Email:
                %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
            .social-icons
              %a{:href => "#"}>
                %img{:alt => "", :src => "img/social-icons/facebook.png"}/
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}>
               
              %a{:href => "#"}
      .subfooter
        .container
          .row
            .col-md-6
              © Copyright 2017 -
              %a{:href => "http://punctmarketing.com/"}
                %span{:style => "color: #888888;"}>
                Punct Marketing
            .col-md-6
              %nav
                %ul
                  %li
                    %a{:href => "#"} Home
                  %li
                    %a{:href => "#"} Despre Noi
                  %li
                    %a{:href => "#"} Booking
                  %li
                    %a{:href => "#"} Articole
                  %li
                    %a{:href => "#"} Contact
    / footer close
    / LOAD JS FILES
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.isotope.min.js"}
    %script{:src => "js/jquery.prettyPhoto.js"}
    %script{:src => "js/easing.js"}
    %script{:src => "js/jquery.lazyload.js"}
    %script{:src => "js/jquery.ui.totop.js"}
    %script{:src => "js/selectnav.js"}
    %script{:src => "js/ender.js"}
    %script{:src => "js/responsiveslides.min.js"}
    %script{:src => "js/jquery.flexslider-min.js"}
    %script{:src => "js/bootstrap-datepicker.js"}
    %script{:src => "js/owl.carousel.min.js"}
    %script{:src => "js/custom.js"}
