!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %title Corsiva - Responsive Hotel Website Template
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    / LOAD CSS FILES
    %link{:href => "css/main.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    / header begin
    %header
      / logo begin
      #logo
        .inner
          %a{:href => "index.html"}
            %img{:alt => "", :src => "img/logo.png"}/
      / logo close
      / mainmenu begin
      #mainmenu-container
        %ul#mainmenu
          %li
            %a{:href => "index.html"} Home
            %ul
              %li
                %a{:href => "index.html"} Homepage 1
              %li
                %a{:href => "index-2.html"} Homepage 2
          %li
            %a{:href => "explore.html"} Explore
          %li
            %a{:href => "room-list.html"} Room
            %ul
              %li
                %a{:href => "room-1-column.html"} 1 Column
              %li
                %a{:href => "room-1-column-sidebar.html"} 1 Column + Sidebar
              %li
                %a{:href => "room-2-columns.html"} 2 Column
              %li
                %a{:href => "room-2-columns-sidebar.html"} 2 Columns + Sidebar
              %li
                %a{:href => "room-3-columns.html"} 3 Columns
              %li
                %a{:href => "single-room.html"} Single Room
          %li
            %a{:href => "booking.html"} Booking
          %li
            %a{:href => "news.html"} News
            %ul
              %li
                %a{:href => "news.html"} News List
              %li
                %a{:href => "single-news.html"} Single News
          %li
            %a{:href => "gallery.html"} Gallery
          %li
            %a{:href => "contact.html"} Contact
      / mainmenu close
      #menu-btn
    / header close
    / subheader begin
    #subheader
      %h1 News
      %h3 Latest Info
    / subheader close
    / content begin
    #content
      .container
        .row
          .col-md-8
            .blog-read
              %div
                .info
                  .date-box
                    %span.day 28
                    %span.month SEP
                .preview
                  %img{:alt => "", :src => "img/pic-blog-1.jpg"}/
                  %a{:href => "#"}
                    %h3.blog-title Chandelier That Turns Your Room into a Forest
                  %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur.
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .meta-info
                  By:
                  %a{:href => "#"} Admin
                  %span |
                  = succeed "," do
                    %a{:href => "#"} Event
                  %a{:href => "#"} Promotion
                  %span |
                  %a{:href => "#"} 2 Comments
                  %span |
            #blog-comment
              %h3 Comments (5)
              %br/
              %ol
                %li
                  .avatar
                    %img{:alt => "", :src => "img/avatar.jpg"}/
                  .comment-info
                    %span.c_name John Smith
                    %span.c_date 8 August 2015
                    %span.c_reply
                      %a{:href => "#"} Reply
                    .clearfix
                  .comment Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.
                  %ol
                    %li
                      .avatar
                        %img{:alt => "", :src => "img/avatar.jpg"}/
                      .comment-info
                        %span.c_name John Smith
                        %span.c_date 8 August 2015
                        %span.c_reply
                          %a{:href => "#"} Reply
                        .clearfix
                      .comment Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.
                %li
                  .avatar
                    %img{:alt => "", :src => "img/avatar.jpg"}/
                  .comment-info
                    %span.c_name John Smith
                    %span.c_date 8 August 2015
                    %span.c_reply
                      %a{:href => "#"} Reply
                    .clearfix
                  .comment Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.
                %li
                  .avatar
                    %img{:alt => "", :src => "img/avatar.jpg"}/
                  .comment-info
                    %span.c_name John Smith
                    %span.c_date 8 August 2015
                    %span.c_reply
                      %a{:href => "#"} Reply
                    .clearfix
                  .comment Sed ut perspiciatis unde omnis iste natus error sit voluptatem   accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt   explicabo.
              #comment-form-wrapper
                %h3 Leave a Comment
                .comment_form_holder
                  %form#commentform{:method => "post", :name => "form1"}
                    %label Name
                    %input#name.form-control{:name => "name", :type => "text"}/
                    %label
                      Email
                      %span.req *
                    %input#email.form-control{:name => "email", :type => "text"}/
                    #error_email.error Please check your email
                    %label
                      Message
                      %span.req *
                    %textarea#message.form-control{:cols => "10", :name => "message", :rows => "10"}
                    #error_message.error Please check your message
                    #mail_success.success Thank you. Your message has been sent.
                    #mail_failed.error Error, email not sent
                    %p#btnsubmit
                      %input#send.btn.btn-custom{:type => "submit", :value => "Send"}/
          #sidebar.col-md-4
            .widget.latest_news
              %h3 Latest News
              %ul.bloglist-small
                %li
                  .date-box
                    %span.day 28
                    %span.month SEP
                  .txt
                    %h5
                      %a{:href => "css/#"} Lorem ipsum sit amet
                    %div
                      %div Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                %li
                  .date-box
                    %span.day 26
                    %span.month SEP
                  .txt
                    %h5
                      %a{:href => "css/#"} Lorem ipsum sit amet
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
                %li
                  .date-box
                    %span.day 18
                    %span.month SEP
                  .txt
                    %h5
                      %a{:href => "css/#"} Lorem ipsum sit amet
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            / widget category
            .widget.widget_category
              %h3
                %span Category
              %ul
                %li
                  %a{:href => "#"}
                    %i.icon-folder-close>
                    Promotion
                %li
                  %a{:href => "#"}
                    %i.icon-folder-close>
                    Favorite Menu
                %li
                  %a{:href => "#"}
                    %i.icon-folder-close>
                    Restaurant
                %li
                  %a{:href => "#"}
                    %i.icon-folder-close>
                    Event
                %li
                  %a{:href => "#"}
                    %i.icon-folder-close>
                    Promotion
            / widget tags
            .widget.widget_tags
              %h3
                %span Tags
              %ul
                %li
                  %a{:href => "#link"} hotel
                %li
                  %a{:href => "#link"} responsive
                %li
                  %a{:href => "#link"} css3
                %li
                  %a{:href => "#link"} html5
                %li
                  %a{:href => "#link"} website
                %li
                  %a{:href => "#link"} template
                %li
                  %a{:href => "#link"} elegant
                %li
                  %a{:href => "#link"} clean
                %li
                  %a{:href => "#link"} jquery
                %li
                  %a{:href => "#link"} php
                %li
                  %a{:href => "#link"} html
                %li
                  %a{:href => "#link"} css
            / widget text
            .widget.widget-text
              %h3 Our Address
              %iframe{:frameborder => "0", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.co.id/maps?f=q&source=s_q&hl=en&q=16+Riverside+Rd,+Singapore&sll=-2.547988,118.037109&sspn=29.394918,50.756836&ie=UTF8&geocode=Fb8IFgAdu40vBg&split=0&hq=&hnear=16+Riverside+Rd,+Singapore&ll=1.444031,103.779771&spn=0.014522,0.024784&t=m&z=14&output=embed&iwloc=false"}
              %address
                %span 20 Main Street, Melbourne
                %span
                  %strong> Phone:
                  (200) 333 8890
                %span
                  %strong> Fax:
                  (200) 333 8892
                %span
                  %strong Email:
                  %a{:href => "mailto:contact@example.com"} contact@example.com
                %span
                  %strong Web:
                  %a{:href => "#test"} http://example.com
        .map
    / content close
    / footer begin
    %footer
      .container
        .row
          .col-md-4
            %h3 About Us
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
          .col-md-4
            %h3 Latest News
            %ul.bloglist-small
              %li
                .date-box
                  %span.day 28
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  %div
                    %div Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
              %li
                .date-box
                  %span.day 26
                  %span.month SEP
                .txt
                  %h5
                    %a{:href => "css/#"} Lorem ipsum sit amet
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            .clearfix
          .col-md-4
            %h3 Our Address
            %address
              %span 20 Main Street, Melbourne
              %span
                %strong> Phone:
                (200) 333 8890
              %span
                %strong> Fax:
                (200) 333 8892
              %span
                %strong Email:
                %a{:href => "mailto:contact@example.com"} contact@example.com
              %span
                %strong Web:
                %a{:href => "#test"} http://example.com
            .social-icons
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/facebook.png"}/
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/twitter.png"}/
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/dribbble.png"}/
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/blogger.png"}/
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/youtube.png"}/
              %a{:href => "#"}
                %img{:alt => "", :src => "img/social-icons/vimeo.png"}/
      .subfooter
        .container
          .row
            .col-md-6
              © Copyright 2015 - Corsiva by Liontheme
            .col-md-6
              %nav
                %ul
                  %li
                    %a{:href => "#"} Home
                  %li
                    %a{:href => "#"} About Us
                  %li
                    %a{:href => "#"} Booking
                  %li
                    %a{:href => "#"} News
                  %li
                    %a{:href => "#"} Contact Us
    / footer close
    / LOAD JS FILES
    %script{:src => "js/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    %script{:src => "js/jquery.isotope.min.js"}
    %script{:src => "js/jquery.prettyPhoto.js"}
    %script{:src => "js/easing.js"}
    %script{:src => "js/jquery.lazyload.js"}
    %script{:src => "js/jquery.ui.totop.js"}
    %script{:src => "js/selectnav.js"}
    %script{:src => "js/ender.js"}
    %script{:src => "js/responsiveslides.min.js"}
    %script{:src => "js/jquery.flexslider-min.js"}
    %script{:src => "js/bootstrap-datepicker.js"}
    %script{:src => "js/owl.carousel.min.js"}
    %script{:src => "js/custom.js"}
