%footer
  .container
    .row
      .col-md-4
        %h3 About Us
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
        reprehenderit in voluptate velit esse cillum dolore eu fugiat
        nulla pariatur.
      .col-md-4
        %h3 Latest News
        %ul.bloglist-small
          %li
            .date-box
              %span.day 28
              %span.month SEP
            .txt
              %h5
                %a{:href => "css/#"} Lorem ipsum sit amet
              %div
                %div
                  Lorem ipsum dolor sit amet, consectetur adipisicing
                  elit, sed do eiusmod tempor
          %li
            .date-box
              %span.day 26
              %span.month SEP
            .txt
              %h5
                %a{:href => "css/#"} Lorem ipsum sit amet
              Lorem ipsum dolor sit amet, consectetur adipisicing elit,
              sed do eiusmod tempor
        .clearfix
      .col-md-4
        %h3 Adresa
        %address
          %span J'adore Hotel
          %span
            Strada Caransebeșului
            nr.12
          %span Lugoj, Timis 305500
          %span
            Tel:
            (40) 356 008 888
          %span
            Email:
            %a{:href => "mailto:contact@jadorehotel.com"} contact@jadorehotel.ro
        .social-icons
          %a{:href => "#"}>
            = image_tag 'social-icons/facebook.png'
           
          %a{:href => "#"}>
           
          %a{:href => "#"}>
           
          %a{:href => "#"}>
           
          %a{:href => "#"}>
           
          %a{:href => "#"}
  .subfooter
    .container
      .row
        .col-md-6
          © Copyright 2017 -
          %a{:href => "http://punctmarketing.com/"}
            %span{:style => "color: #888888;"}>
            Punct Marketing
        .col-md-6
          %nav
            %ul
              %li
                %a{:href => "#"} Home
              %li
                %a{:href => "#"} Despre Noi
              %li
                %a{:href => "#"} Booking
              %li
                %a{:href => "#"} Articole
              %li
                %a{:href => "#"} Contact
