= image_tag 'events/perdeastg.png', class: 'pull-left'
= image_tag 'events/perdeadr.png', class: 'pull-right'
.event-header-curtain
.event-header-image
  .text-event-wrapper
    %h1 SALA DE EVENIMENTE
