#slider
  .callbacks_container
    %ul.rslides.pic_slider
      %li
        .text-wrap
          .inner
            .mid
              %h3 The Best Value
              %h1 Under The Sun
              .desc
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
        = image_tag 'slider-home/pic1.jpg'
      %li
        .text-wrap
          .inner
            .mid
              %h3 Stati cu Noi
              %h1 Simtiti-va ca acasa
              .desc
                Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis
                nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.
        = image_tag 'slider-home/pic2.jpg'
