#slider
  .callbacks_container
    %ul.rslides.pic_slider
      %li
        .text-wrap
          .inner.full-width
            .mid
              %h3 Noi dăm viață
              %h1 EVENIMENTULUI TĂU
        = image_tag 'events/header.jpg'
