#slider
  .callbacks_container
    %ul.rslides.pic_slider
      %li
        .text-wrap
          .inner.full-width
            .mid
              %h1.text-center Evenimente
        = image_tag 'events/header.jpg'
