.text-restaurant-wrapper
  .clearfix
  .container
    .col-md-12.top-space
      %p.font-family-gabriola J’adore Events este localul ideal pentru organizarea de evenimente speciale(nunti,botezuri,petreceri tematice).Cu o capacitate de peste 450 de locuri.
