#subheader
  %h1 Restaurant
#content.no-top.no-bottom
  %section#explore-1.side-bg
    .container
      .row
        .col-md-12
          .inner-padding
            %p Te invitam sa te lasi codus de cele mai rafinate gusturi ale bucatariei internationale/nationale. Chef-ul Hotelului J’adore Lugoj isi propune sa suprinda mereu, clientii, placut. Mai jos ai cateva dintre preparatele exceptionale, realizate de echipa noastra.
            .small-border
    = render 'gallery'
