.container
  %br
  = form_for @restaurant, :html => { :class => '', multipart: true } do |p|
    .form-group
      = p.label :pictures, :class => 'control-label'
      = file_field_tag "images[]", type: :file, multiple: true
    .form-group
      = p.submit 'Adauga poze', class: 'btn btn-border'
  %br
