// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.contact_form_holder label {
  display: none;
}

.contact_form_holder input[type="text"] {
  width: 70%;
}

.contact-bg {
  background-image: image-url('bg/Contact.jpg') !important;
}
