// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin-menu span:after {
  content: '|';
  color: #fff;
  display: inline-block;
}

@font-face {
	font-family: 'Carambola';
	src:url('Carambola.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gabriola';
	src:url('Gabriola.ttf');
	font-weight: normal;
	font-style: normal;
}

.font-family-gabriola {
  font-family: Gabriola;
}

textarea {
  width: 100%;
}
